html
    head
        title Home
        include headers
    body
        include base
        div(class="container")
            div(class="row") 
                h1 Your profile:
            div(class="row")
                div(class="col s12")
                    div(class="card-panel hoverable")
                        table
                            tr
                                td 
                                    b Name 
                                td #{user.name}
                            tr
                                td
                                    b Username
                                td #{user.username}
                            tr
                                td
                                    b Email ID
                                td #{user.email}